<div class="row content">
  <div class="col-12">
    <img src="{{ user.gravatar }}" alt="Gravatar of {{  user.username }}" class="rounded-circle profile-image">
    <div class="profile-text">
      <h3 class="profile-title">{{ user.full_name }}</h3>
    </div>
  </div>
  {% if not viewee_membership %}
    <h1>Owner</h1>
  {% elif viewee_membership.level == "3" %}
    <h1>Officer</h1>
  {% elif viewee_membership.level == "2" %}
    <h1>Member </h1>
  {% elif viewee_membership.level == "1" %}
    <h1>Applicant</h1>
  {% endif %}
</div>
<div class="row content">
  <div class="col-12">
    <form action="{% url 'show_user' user_id=user.id club_id=current_club.id %}" method="get">
      {% if user.bio == "" %}
      <i class="bi bi-file-text-fill"></i><p class="profile-bio"> Bio: This person is too lazy to have a bio.</p>
      {% else %}
      <i class="bi bi-file-text-fill"></i><p class="profile-bio">Bio: {{ user.bio }}</p>
      {% endif %}
      {% if is_owner %}
        {% include 'partials/user_further_profile.html' with user=user %}
      {% endif %}
      {% if viewee_membership and user_membership.is_officer and not viewee_membership.is_officer %}
        {% include 'partials/user_further_profile.html' with user=user %}
      {% endif %}
    </form>
  </div>
</div>
